.mainmi{
  margin-top: 240px;
  width: 60%;
  margin-left:160px

}


.post{
  width: 800px;
  height: auto;
  background: #fff;
  border: solid 5px #dcdcdc;
  margin-top: 40px;
}

.info{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.info .username{
  width: auto;
  font-weight: bold;
  color: #000;
  font-size: 14px;
  margin-left: 10px;
}

.info .options{
  height: 10px;
  cursor: pointer;
}

.info .user{
  display: flex;
  align-items: center;
}

.info .profile-pic{
  height: 40px;
  width: 40px;
  padding: 0;
  background: none;
}

.info .profile-pic img{
  border: none;
}


.post-image{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.post-content{
  width: 100%;
  padding: 20px;
}

.likes{
  font-weight: bold;
}

.description{
  margin: 10px 0;
  font-size: 14px;
  line-height: 20px;
}

.description span{
  font-weight: bold;
  margin-right: 10px;
}

.post-time{
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.comment-wrapper{
  width: 100%;
  height: 50px;
  border-radius: 1px solid #dfdfdf;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-wrapper .icon{
  height: 30px;
}

.comment-box{
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 14px;
}

.comment-btn,
.action-btn{
  width: 70px;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  text-transform: capitalize;
  font-size: 16px;
  color: rgb(0, 162, 255);
  opacity: 0.5;
}

.reaction-wrapper{
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: -20px;
  align-items: center;
}

.reaction-wrapper .icon{
  height: 25px;
  margin: 0;
  margin-right: 20px;
}

.reaction-wrapper .icon.save{
  margin-left: auto;
}

.dumbel{
  margin-top:12px;
  margin-bottom:12px;
  color:rgb(20, 220, 127);
}



.dumb{
  margin-top:12px;
  margin-bottom:12px;
}

/* .btn-comment{
  color:aliceblue;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  background: linear-gradient(to bottom right, rgb(222, 230, 229),rgb(69, 128, 123) ,rgb(5, 4, 4));
} */

button{
  margin-left: 3px;
}
.imgdetail{
  height: 70px;
}

.descriptions{
  font-size: 14px;
  color: rgb(117, 115, 115);
}

.botonlikeus{

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow:    0 8px 0 #bba922, 0 15px 20px #bba922;
  -moz-box-shadow: 0 8px 0 #bba922, 0 15px 20px #bba922;
  box-shadow: 0 8px 0 #bba922, 0 15px 20px rgba(0, 0, 0, .35);
  -webkit-transition: -webkit-box-shadow .1s ease-in-out;
  -moz-transition: -moz-box-shadow .1s ease-in-out;
  -o-transition: -o-box-shadow .1s ease-in-out;
  transition: box-shadow .1s ease-in-out;
  font-size: 20px;
  color: #bba922;
}

.botonlikeusu{

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow:    0 8px 0 rgb(69, 128, 123), 0 15px 20px rgb(69, 128, 123);
  -moz-box-shadow: 0 8px 0 rgb(69, 128, 123), 0 15px 20pxrgb(69, 128, 123);
  box-shadow: 0 8px 0 rgb(69, 128, 123), 0 15px 20px rgba(0, 0, 0, .35);
  -webkit-transition: -webkit-box-shadow .1s ease-in-out;
  -moz-transition: -moz-box-shadow .1s ease-in-out;
  -o-transition: -o-box-shadow .1s ease-in-out;
  transition: box-shadow .1s ease-in-out;
  font-size: 20px;
  color: rgb(69, 128, 123);
}

/* .botonlikeusu:hover{
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow:    0 8px 0 rgb(188, 19, 39), 0 15px 20px rgb(188, 19, 39);
  -moz-box-shadow: 0 8px 0 rgb(188, 19, 39), 0 15px 20px rgb(188, 19, 39);
  box-shadow: 0 8px 0 rgb(188, 19, 39), 0 15px 20px rgba(0, 0, 0, .35);
  -webkit-transition: -webkit-box-shadow .1s ease-in-out;
  -moz-transition: -moz-box-shadow .1s ease-in-out;
  -o-transition: -o-box-shadow .1s ease-in-out;
  transition: box-shadow .1s ease-in-out;
  font-size: 20px;
  color: rgb(188, 19, 39);
} */


.strikes{
 color:rgb(101, 233, 184)
}
.strike{
  color:rgb(240, 117, 123)
 }
 
 .usernames{
  color:rgb(38, 125, 93)
}


 .verify{
  color: #0a9ae8;
 }

 .verif{
  color: #0ad6e8;
 }
