*{
  padding:0;
  margin: 0;
  box-sizing:border-box;


}


.myheader{
  width: 60%;
  margin-top: 160px;
  transform: translateY(50px);
  padding: 50px 0;
  font-family:Capture;
}

.myperfil-container{
  display: flex;
}

.myperfil-container img{
  height: 250px;
  width:250px;
  border-radius: 50%;
  cursor: pointer
}

.contenedor-cabecera{
  margin-left:100px;

}

.cabecera1{
  width:290px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
}
.cabecera1 h1{
  color:#616161;
  font-weight:100;
  font-size:56px;


}

.cabecera2{
  display: flex;
  justify-content: space-between;
  font-size: 25px ;
  align-items: center;
  margin-bottom: 15px;
 
}

.cabecera3 h2,
.cabecera .p-mynickname,
.cabecera .p-mybio,
.cabecera .p-myemail,
.cabecera .p-mybox,
.cabecera .p-mysnatch,
.cabecera .p-myclean,
.cabecera .p-myjerk,
.cabecera .p-mybacksquat,
.cabecera .p-mybenchpress,
.cabecera .p-deadlift {
  font-size:16px;
  margin-bottom:5px;



}

p {
  margin-top: 0;
  margin-bottom: 0rem;
}




.cabecera3 .p-mynickname {
  color: #a2a2a2;
}





