.button {
  padding:7px 8px;
  border-radius: 3px;
  font-size:14px;
  font-weight: 600;

}

.primary-button {
  color:white;
  background-color:rgb(130, 187, 240) ;

}

.secondary-button {
  color:#0095f6
  
}